:root {
  --font-family: "Nunito", sans-serif;
}

:root {
  --error-color: #fa0000;
} 

:root {
  --color-primary: #136bfb;
  --color-white: #ffffff;
  --color-black: #0f0f0f;

  --color-gray-100: #f7f7f7;
  --color-gray-200: #e2dfdf;
  --color-gray-400: #bdbbbb;

  --color-danger: #ff6170;
  --color-danger-light: #fdf1f2;

  --color-success: #26c975;
  --color-success-light: #f0feed;
}
